*.suo
*.user
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

*.log
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.exe
*.dll
*.out
*.sublime-project
*.sublime-workspace
*.pro.user
.DS_Store
*.o